.time {
  background-color: rgb(47, 47, 46);
  box-shadow: 0 0 10px rgb(232, 186, 186);
}
.counter {
  box-shadow: 0 0 30px rgb(9, 40, 239);
}
.form-control {
  box-shadow: 0 0 20px rgb(239, 9, 224);
  background-color: rgb(196, 255, 243);
}
.ocultar {
  display: none;
}

.mostrar:hover .ocultar {
  display: block;
}

.imgFondo {
  min-height: 100vh;
  background-position: center 1%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alerta {
  box-shadow: 0 0 20px rgb(14, 13, 13);
}

.Alerta {
  box-shadow: 0 0 20px rgb(227, 6, 6);
}
